Reading a CSV file using Pandas

In [1]:
from urllib.request import urlretrieve

In [2]:
italy_covid_url = 'https://gist.githubusercontent.com/aakashns/f6a004fa20c84fec53262f9a8bfee775/raw/f309558b1cf5103424cef58e2ecb8704dcd4d74c/italy-covid-daywise.csv'

urlretrieve(italy_covid_url, 'italy-covid-daywise.csv')

('italy-covid-daywise.csv', <http.client.HTTPMessage at 0x1d90e55b4d0>)

To read the file, we can use the "read_csv" method from Pandas

In [3]:
import pandas as pd

In [4]:
covid_df = pd.read_csv('italy-covid-daywise.csv')

In [6]:
type(covid_df)

pandas.core.frame.DataFrame

In [5]:
covid_df

           date  new_cases  new_deaths  new_tests
0    2019-12-31        0.0         0.0        NaN
1    2020-01-01        0.0         0.0        NaN
2    2020-01-02        0.0         0.0        NaN
3    2020-01-03        0.0         0.0        NaN
4    2020-01-04        0.0         0.0        NaN
..          ...        ...         ...        ...
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

[248 rows x 4 columns]

To view basic information about the data frame, we use the ".info" method

In [10]:
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        248 non-null    object
 1   new_cases   248 non-null    float64
 2   new_deaths  248 non-null    float64
 3   new_tests   135 non-null    float64
dtypes: float64(3), object(1)
memory usage: 7.9+ KB

Use the ".describe" method to get some statistical information

In [11]:
covid_df.describe()

         new_cases  new_deaths     new_tests
count   248.000000  248.000000    135.000000
mean   1094.818548  143.133065  31699.674074
std    1554.508002  227.105538  11622.209757
min    -148.000000  -31.000000   7841.000000
25%     123.000000    3.000000  25259.000000
50%     342.000000   17.000000  29545.000000
75%    1371.750000  175.250000  37711.000000
max    6557.000000  971.000000  95273.000000

The "columns" property contains list of columns in the dataframe

In [12]:
covid_df.columns

Index(['date', 'new_cases', 'new_deaths', 'new_tests'], dtype='object')

The "columns" property contains list of columns in the dataframe

In [13]:
covid_df.shape

(248, 4)

Retrieving Data From A Data Frame

In [14]:
covid_df['new_cases']

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
243    1444.0
244    1365.0
245     996.0
246     975.0
247    1326.0
Name: new_cases, Length: 248, dtype: float64

In [13]:
type(covid_df['new_cases'])

pandas.core.series.Series

In [14]:
covid_df['new_cases'][200]

np.float64(231.0)

In [15]:
covid_df['new_cases'][123]

np.float64(1965.0)

Use the ".at" method to retrive a particular row or column

In [12]:
covid_df.at[134, 'new_cases']

np.float64(1402.0)

In [13]:
covid_df.at[134, 'new_deaths']

np.float64(172.0)

In [15]:
cases_df = covid_df[['date', 'new_cases']]

In [16]:
cases_df

           date  new_cases
0    2019-12-31        0.0
1    2020-01-01        0.0
2    2020-01-02        0.0
3    2020-01-03        0.0
4    2020-01-04        0.0
..          ...        ...
243  2020-08-30     1444.0
244  2020-08-31     1365.0
245  2020-09-01      996.0
246  2020-09-02      975.0
247  2020-09-03     1326.0

[248 rows x 2 columns]

In [16]:
deaths_df = covid_df[['date', 'new_deaths']]
deaths_df

           date  new_deaths
0    2019-12-31         0.0
1    2020-01-01         0.0
2    2020-01-02         0.0
3    2020-01-03         0.0
4    2020-01-04         0.0
..          ...         ...
243  2020-08-30         1.0
244  2020-08-31         4.0
245  2020-09-01         6.0
246  2020-09-02         8.0
247  2020-09-03         6.0

[248 rows x 2 columns]

To make a copy of a data frame

In [30]:
covid_df_copy = covid_df.copy()
covid_df_copy

           date  new_cases  new_deaths  new_tests
0    2019-12-31        0.0         0.0        NaN
1    2020-01-01        0.0         0.0        NaN
2    2020-01-02        0.0         0.0        NaN
3    2020-01-03        0.0         0.0        NaN
4    2020-01-04        0.0         0.0        NaN
..          ...        ...         ...        ...
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

[248 rows x 4 columns]

To access a Specific row of data

In [17]:
covid_df.loc[114]

date          2020-04-23
new_cases         3370.0
new_deaths         437.0
new_tests        37083.0
Name: 114, dtype: object

In [35]:
covid_df.head(34)

          date  new_cases  new_deaths  new_tests
0   2019-12-31        0.0         0.0        NaN
1   2020-01-01        0.0         0.0        NaN
2   2020-01-02        0.0         0.0        NaN
3   2020-01-03        0.0         0.0        NaN
4   2020-01-04        0.0         0.0        NaN
5   2020-01-05        0.0         0.0        NaN
6   2020-01-06        0.0         0.0        NaN
7   2020-01-07        0.0         0.0        NaN
8   2020-01-08        0.0         0.0        NaN
9   2020-01-09        0.0         0.0        NaN
10  2020-01-10        0.0         0.0        NaN
11  2020-01-11        0.0         0.0        NaN
12  2020-01-12        0.0         0.0        NaN
13  2020-01-13        0.0         0.0        NaN
14  2020-01-14        0.0         0.0        NaN
15  2020-01-15        0.0         0.0        NaN
16  2020-01-16        0.0         0.0        NaN
17  2020-01-17        0.0         0.0        NaN
18  2020-01-18        0.0         0.0        NaN
19  2020-01-19        0.0         0.0        NaN
20  2020-01-20        0.0         0.0        NaN
21  2020-01-21        0.0         0.0        NaN
22  2020-01-22        0.0         0.0        NaN
23  2020-01-23        0.0         0.0        NaN
24  2020-01-24        0.0         0.0        NaN
25  2020-01-25        0.0         0.0        NaN
26  2020-01-26        0.0         0.0        NaN
27  2020-01-27        0.0         0.0        NaN
28  2020-01-28        0.0         0.0        NaN
29  2020-01-29        0.0         0.0        NaN
30  2020-01-30        0.0         0.0        NaN
31  2020-01-31        3.0         0.0        NaN
32  2020-02-01        0.0         0.0        NaN
33  2020-02-02        0.0         0.0        NaN

In [36]:
covid_df.tail(90)

           date  new_cases  new_deaths  new_tests
158  2020-06-06      518.0        85.0    34036.0
159  2020-06-07      270.0        72.0    27894.0
160  2020-06-08      197.0        53.0    16301.0
161  2020-06-09      280.0        65.0    32200.0
162  2020-06-10      283.0        79.0    37865.0
..          ...        ...         ...        ...
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

[90 rows x 4 columns]

In [31]:
covid_df.at[123, 'new_tests']

np.float64(31231.0)

In [38]:
type(covid_df.at[0, 'new_tests'])

numpy.float64

In [19]:
covid_df.loc[90:99]

          date  new_cases  new_deaths  new_tests
90  2020-03-30     5217.0       758.0        NaN
91  2020-03-31     4050.0       810.0        NaN
92  2020-04-01     4053.0       839.0        NaN
93  2020-04-02     4782.0       727.0        NaN
94  2020-04-03     4668.0       760.0        NaN
95  2020-04-04     4585.0       764.0        NaN
96  2020-04-05     4805.0       681.0        NaN
97  2020-04-06     4316.0       527.0        NaN
98  2020-04-07     3599.0       636.0        NaN
99  2020-04-08     3039.0       604.0        NaN

In [21]:
covid_df.new_tests.first_valid_index()

111

In [18]:
covid_df.sample(20)

           date  new_cases  new_deaths  new_tests
192  2020-07-10      214.0        12.0    27251.0
92   2020-04-01     4053.0       839.0        NaN
18   2020-01-18        0.0         0.0        NaN
240  2020-08-27     1366.0        13.0    57640.0
35   2020-02-04        0.0         0.0        NaN
75   2020-03-15     3497.0       173.0        NaN
242  2020-08-29     1460.0         9.0    64294.0
165  2020-06-13      163.0        56.0    32880.0
93   2020-04-02     4782.0       727.0        NaN
26   2020-01-26        0.0         0.0        NaN
151  2020-05-30      516.0        87.0    36051.0
124  2020-05-03     1900.0       474.0    27047.0
44   2020-02-13        0.0         0.0        NaN
126  2020-05-05     1221.0       195.0    32211.0
177  2020-06-25      577.0       -31.0    29421.0
102  2020-04-11     3951.0       570.0        NaN
98   2020-04-07     3599.0       636.0        NaN
106  2020-04-15     2972.0       604.0        NaN
135  2020-05-14      888.0       195.0    41131.0
85   2020-03-25     5249.0       743.0        NaN

<h2>Analysing Data from DataFrames</h2|

<p style="font-size:15px;">Q: What are the total number of reported cases and deaths related to Covid-19 in Italy?</p>

Similar to Numpy arrays, a Pandas series supports the sum method to answer these questions.

In [10]:
total_cases = covid_df.new_cases.sum()
total_deaths = covid_df.new_deaths.sum()

In [26]:
print('The number of reported cases is {} and the number of reported deaths is {}'.format(int(total_cases), int(total_deaths)))

The number of reported cases is 271515 and the number of reported deaths is 35497


<p style="font-size:15px;">Q: What is the overall death rate (ratio of reported deaths to reported cases)?</p>

In [11]:
death_rate = covid_df.new_deaths.sum() / covid_df.new_cases.sum()

In [12]:
death_rate

np.float64(0.13073679170579894)

In [43]:
death_rate1 = total_deaths/total_cases

In [32]:
death_rate1

np.float64(0.13073679170579894)

In [29]:
print("The overall reported death rate in Italy is {:.2f} %.".format(death_rate * 100))

The overall reported death rate in Italy is 13.07 %.

<p>Q: What is the overall number of tests conducted? A total of 935310 tests were conducted before daily test numbers were reported.</p>

In [14]:
initial_tests = 935310
total_tests = initial_tests + covid_df.new_tests.sum()

In [15]:
total_tests

np.float64(5214766.0)

<p>Q: What fraction returned with a positive result</p>

In [16]:
positive_rate = total_cases/total_tests

In [37]:
print('{:.2f}% of tests in Italy led to a positive diagnosis'.format(positive_rate * 100))

5.21% of tests in Italy led to a positive diagnosis

<h2>Querying and sorting rows</h2>

<p>Days with more than 1000 reported cases</p>

In [17]:
high_new_cases = covid_df.new_cases > 1000

In [18]:
high_new_cases

0      False
1      False
2      False
3      False
4      False
       ...
243     True
244     True
245    False
246    False
247     True
Name: new_cases, Length: 248, dtype: bool

In [19]:
covid_df[high_new_cases]

           date  new_cases  new_deaths  new_tests
68   2020-03-08     1247.0        36.0        NaN
69   2020-03-09     1492.0       133.0        NaN
70   2020-03-10     1797.0        98.0        NaN
72   2020-03-12     2313.0       196.0        NaN
73   2020-03-13     2651.0       189.0        NaN
..          ...        ...         ...        ...
241  2020-08-28     1409.0         5.0    65135.0
242  2020-08-29     1460.0         9.0    64294.0
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
247  2020-09-03     1326.0         6.0        NaN

[72 rows x 4 columns]

In [20]:
# Passing the boolean expression as an index to the data frame
high_cases1_df = covid_df[covid_df.new_cases > 100]

In [33]:
high_cases1_df

           date  new_cases  new_deaths  new_tests
59   2020-02-28      250.0         5.0        NaN
60   2020-02-29      238.0         4.0        NaN
61   2020-03-01      240.0         8.0        NaN
62   2020-03-02      561.0         6.0        NaN
63   2020-03-03      347.0        17.0        NaN
..          ...        ...         ...        ...
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

[188 rows x 4 columns]

<p>To View All The Rows of A Data Frame</p>

In [21]:
from IPython.display import display
with pd.option_context('display.max_rows', 100):
    display(covid_df[covid_df.new_cases > 1000])

           date  new_cases  new_deaths  new_tests
68   2020-03-08     1247.0        36.0        NaN
69   2020-03-09     1492.0       133.0        NaN
70   2020-03-10     1797.0        98.0        NaN
72   2020-03-12     2313.0       196.0        NaN
73   2020-03-13     2651.0       189.0        NaN
74   2020-03-14     2547.0       252.0        NaN
75   2020-03-15     3497.0       173.0        NaN
76   2020-03-16     2823.0       370.0        NaN
77   2020-03-17     4000.0       347.0        NaN
78   2020-03-18     3526.0       347.0        NaN
79   2020-03-19     4207.0       473.0        NaN
80   2020-03-20     5322.0       429.0        NaN
81   2020-03-21     5986.0       625.0        NaN
82   2020-03-22     6557.0       795.0        NaN
83   2020-03-23     5560.0       649.0        NaN
84   2020-03-24     4789.0       601.0        NaN
85   2020-03-25     5249.0       743.0        NaN
86   2020-03-26     5210.0       685.0        NaN
87   2020-03-27     6153.0       660.0        NaN
88   2020-03-28     5959.0       971.0        NaN
89   2020-03-29     5974.0       887.0        NaN
90   2020-03-30     5217.0       758.0        NaN
91   2020-03-31     4050.0       810.0        NaN
92   2020-04-01     4053.0       839.0        NaN
93   2020-04-02     4782.0       727.0        NaN
94   2020-04-03     4668.0       760.0        NaN
95   2020-04-04     4585.0       764.0        NaN
96   2020-04-05     4805.0       681.0        NaN
97   2020-04-06     4316.0       527.0        NaN
98   2020-04-07     3599.0       636.0        NaN
99   2020-04-08     3039.0       604.0        NaN
100  2020-04-09     3836.0       540.0        NaN
101  2020-04-10     4204.0       612.0        NaN
102  2020-04-11     3951.0       570.0        NaN
103  2020-04-12     4694.0       619.0        NaN
104  2020-04-13     4092.0       431.0        NaN
105  2020-04-14     3153.0       564.0        NaN
106  2020-04-15     2972.0       604.0        NaN
107  2020-04-16     2667.0       578.0        NaN
108  2020-04-17     3786.0       525.0        NaN
109  2020-04-18     3493.0       575.0        NaN
110  2020-04-19     3491.0       480.0        NaN
111  2020-04-20     3047.0       433.0     7841.0
112  2020-04-21     2256.0       454.0    28095.0
113  2020-04-22     2729.0       534.0    44248.0
114  2020-04-23     3370.0       437.0    37083.0
115  2020-04-24     2646.0       464.0    95273.0
116  2020-04-25     3021.0       420.0    38676.0
117  2020-04-26     2357.0       415.0    24113.0
118  2020-04-27     2324.0       260.0    26678.0
119  2020-04-28     1739.0       333.0    37554.0
120  2020-04-29     2091.0       382.0    38589.0
121  2020-04-30     2086.0       323.0    41441.0
122  2020-05-01     1872.0       285.0    43732.0
123  2020-05-02     1965.0       269.0    31231.0
124  2020-05-03     1900.0       474.0    27047.0
125  2020-05-04     1389.0       174.0    22999.0
126  2020-05-05     1221.0       195.0    32211.0
127  2020-05-06     1075.0       236.0    37771.0
128  2020-05-07     1444.0       369.0    13665.0
129  2020-05-08     1401.0       274.0    45428.0
130  2020-05-09     1327.0       243.0    36091.0
131  2020-05-10     1083.0       194.0    31384.0
134  2020-05-13     1402.0       172.0    37049.0
236  2020-08-23     1071.0         3.0    47463.0
237  2020-08-24     1209.0         7.0    33358.0
240  2020-08-27     1366.0        13.0    57640.0
241  2020-08-28     1409.0         5.0    65135.0
242  2020-08-29     1460.0         9.0    64294.0
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
247  2020-09-03     1326.0         6.0        NaN

<p>Determine the days when the ratio of cases reported to tests conducted is higher than the overall positive rate</p>

In [22]:
positive_rate

np.float64(0.05206657403227681)

In [23]:
high_ratio_df = covid_df[covid_df.new_cases/covid_df.new_tests > positive_rate]

In [51]:
high_ratio_df

           date  new_cases  new_deaths  new_tests
111  2020-04-20     3047.0       433.0     7841.0
112  2020-04-21     2256.0       454.0    28095.0
113  2020-04-22     2729.0       534.0    44248.0
114  2020-04-23     3370.0       437.0    37083.0
116  2020-04-25     3021.0       420.0    38676.0
117  2020-04-26     2357.0       415.0    24113.0
118  2020-04-27     2324.0       260.0    26678.0
120  2020-04-29     2091.0       382.0    38589.0
123  2020-05-02     1965.0       269.0    31231.0
124  2020-05-03     1900.0       474.0    27047.0
125  2020-05-04     1389.0       174.0    22999.0
128  2020-05-07     1444.0       369.0    13665.0

In [52]:
covid_df.new_cases/covid_df.new_tests

0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
         ...
243    0.026970
244    0.032055
245    0.018311
246         NaN
247         NaN
Length: 248, dtype: float64

<p>To add a new column of covid cases that were positive</p>

In [24]:
covid_df['positive_rate'] = covid_df.new_cases/covid_df.new_tests

In [57]:
covid_df

           date  new_cases  new_deaths  new_tests  positive_rate
0    2019-12-31        0.0         0.0        NaN            NaN
1    2020-01-01        0.0         0.0        NaN            NaN
2    2020-01-02        0.0         0.0        NaN            NaN
3    2020-01-03        0.0         0.0        NaN            NaN
4    2020-01-04        0.0         0.0        NaN            NaN
..          ...        ...         ...        ...            ...
243  2020-08-30     1444.0         1.0    53541.0       0.026970
244  2020-08-31     1365.0         4.0    42583.0       0.032055
245  2020-09-01      996.0         6.0    54395.0       0.018311
246  2020-09-02      975.0         8.0        NaN            NaN
247  2020-09-03     1326.0         6.0        NaN            NaN

[248 rows x 5 columns]

<p>To remove the positive_rate column</p>

In [25]:
covid_df.drop(columns = ['positive_rate'], inplace = True)

In [59]:
covid_df

           date  new_cases  new_deaths  new_tests
0    2019-12-31        0.0         0.0        NaN
1    2020-01-01        0.0         0.0        NaN
2    2020-01-02        0.0         0.0        NaN
3    2020-01-03        0.0         0.0        NaN
4    2020-01-04        0.0         0.0        NaN
..          ...        ...         ...        ...
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

[248 rows x 4 columns]

<h3>Sorting rows using columns</h3>

<p>Using "sort_values" to identify the days with the highest number of cases</p>

In [26]:
covid_df.sort_values('new_cases', ascending = False).head(10)

          date  new_cases  new_deaths  new_tests
82  2020-03-22     6557.0       795.0        NaN
87  2020-03-27     6153.0       660.0        NaN
81  2020-03-21     5986.0       625.0        NaN
89  2020-03-29     5974.0       887.0        NaN
88  2020-03-28     5959.0       971.0        NaN
83  2020-03-23     5560.0       649.0        NaN
80  2020-03-20     5322.0       429.0        NaN
85  2020-03-25     5249.0       743.0        NaN
90  2020-03-30     5217.0       758.0        NaN
86  2020-03-26     5210.0       685.0        NaN

<p>Using "sort_values" to identify the days with the highest number of deaths</p>

In [27]:
covid_df.sort_values('new_deaths', ascending = False).head(10)

          date  new_cases  new_deaths  new_tests
88  2020-03-28     5959.0       971.0        NaN
89  2020-03-29     5974.0       887.0        NaN
92  2020-04-01     4053.0       839.0        NaN
91  2020-03-31     4050.0       810.0        NaN
82  2020-03-22     6557.0       795.0        NaN
95  2020-04-04     4585.0       764.0        NaN
94  2020-04-03     4668.0       760.0        NaN
90  2020-03-30     5217.0       758.0        NaN
85  2020-03-25     5249.0       743.0        NaN
93  2020-04-02     4782.0       727.0        NaN

<p>Days with the least number of cases</p>

In [28]:
covid_df.sort_values('new_cases').head(10)

           date  new_cases  new_deaths  new_tests
172  2020-06-20     -148.0        47.0    29875.0
0    2019-12-31        0.0         0.0        NaN
2    2020-01-02        0.0         0.0        NaN
1    2020-01-01        0.0         0.0        NaN
4    2020-01-04        0.0         0.0        NaN
5    2020-01-05        0.0         0.0        NaN
6    2020-01-06        0.0         0.0        NaN
3    2020-01-03        0.0         0.0        NaN
8    2020-01-08        0.0         0.0        NaN
9    2020-01-09        0.0         0.0        NaN

In [29]:
covid_df.loc[169:175]

           date  new_cases  new_deaths  new_tests
169  2020-06-17      210.0        34.0    33957.0
170  2020-06-18      328.0        43.0    32921.0
171  2020-06-19      331.0        66.0    28570.0
172  2020-06-20     -148.0        47.0    29875.0
173  2020-06-21      264.0        49.0    24581.0
174  2020-06-22      224.0        24.0    16152.0
175  2020-06-23      221.0        23.0    23225.0

You can use the `.at` method to modify a specific value within the dataframe.

In [32]:
covid_df.at[172, 'new_cases'] = (covid_df.at[171, 'new_cases'] + covid_df.at[173, 'new_cases'])/2

In [33]:
covid_df.loc[169:175]

           date  new_cases  new_deaths  new_tests
169  2020-06-17      210.0        34.0    33957.0
170  2020-06-18      328.0        43.0    32921.0
171  2020-06-19      331.0        66.0    28570.0
172  2020-06-20      297.5        47.0    29875.0
173  2020-06-21      264.0        49.0    24581.0
174  2020-06-22      224.0        24.0    16152.0
175  2020-06-23      221.0        23.0    23225.0

## Working with dates

In [34]:
covid_df.date

0      2019-12-31
1      2020-01-01
2      2020-01-02
3      2020-01-03
4      2020-01-04
          ...
243    2020-08-30
244    2020-08-31
245    2020-09-01
246    2020-09-02
247    2020-09-03
Name: date, Length: 248, dtype: object

The data type of date is currently `object`, so Pandas does not know that this column is a date. We can convert it into a `datetime` column using the `pd.to_datetime` method.

In [37]:
covid_df['date'] = pd.to_datetime(covid_df.date)

In [38]:
covid_df['date']

0     2019-12-31
1     2020-01-01
2     2020-01-02
3     2020-01-03
4     2020-01-04
         ...
243   2020-08-30
244   2020-08-31
245   2020-09-01
246   2020-09-02
247   2020-09-03
Name: date, Length: 248, dtype: datetime64[ns]

In [44]:
covid_df['year'] = pd.DatetimeIndex(covid_df.date).year
covid_df['month'] = pd.DatetimeIndex(covid_df.date).month
covid_df['day'] = pd.DatetimeIndex(covid_df.date).day
covid_df['weekday'] = pd.DatetimeIndex(covid_df.date).weekday

In [42]:
covid_df['year']

0      2019
1      2020
2      2020
3      2020
4      2020
       ...
243    2020
244    2020
245    2020
246    2020
247    2020
Name: year, Length: 248, dtype: int32

In [45]:
covid_df['weekday']

0      1
1      2
2      3
3      4
4      5
      ..
243    6
244    0
245    1
246    2
247    3
Name: weekday, Length: 248, dtype: int32

In [46]:
covid_df

          date  new_cases  new_deaths  new_tests  year  month  day  weekday
0   2019-12-31        0.0         0.0        NaN  2019     12   31        1
1   2020-01-01        0.0         0.0        NaN  2020      1    1        2
2   2020-01-02        0.0         0.0        NaN  2020      1    2        3
3   2020-01-03        0.0         0.0        NaN  2020      1    3        4
4   2020-01-04        0.0         0.0        NaN  2020      1    4        5
..         ...        ...         ...        ...   ...    ...  ...      ...
243 2020-08-30     1444.0         1.0    53541.0  2020      8   30        6
244 2020-08-31     1365.0         4.0    42583.0  2020      8   31        0
245 2020-09-01      996.0         6.0    54395.0  2020      9    1        1
246 2020-09-02      975.0         8.0        NaN  2020      9    2        2
247 2020-09-03     1326.0         6.0        NaN  2020      9    3        3

[248 rows x 8 columns]

Let's check the overall metrics for June. We can query the rows for May, choose a subset of columns, and use the `sum` method to aggregate each selected column's values.

In [48]:
# Query the rows for June
covid_df_june = covid_df[covid_df.month == 6]

# Extract the subset of columns to be aggregated
covid_df_june_metrics = covid_df_june[['new_cases', 'new_deaths', 'new_tests']]

covid_june_totals = covid_df_june_metrics.sum()

In [49]:
covid_df_june

          date  new_cases  new_deaths  new_tests  year  month  day  weekday
153 2020-06-01      355.0        75.0    18053.0  2020      6    1        0
154 2020-06-02      178.0        60.0    25628.0  2020      6    2        1
155 2020-06-03      318.0        55.0    20035.0  2020      6    3        2
156 2020-06-04      321.0        71.0    27451.0  2020      6    4        3
157 2020-06-05      177.0        88.0    40470.0  2020      6    5        4
158 2020-06-06      518.0        85.0    34036.0  2020      6    6        5
159 2020-06-07      270.0        72.0    27894.0  2020      6    7        6
160 2020-06-08      197.0        53.0    16301.0  2020      6    8        0
161 2020-06-09      280.0        65.0    32200.0  2020      6    9        1
162 2020-06-10      283.0        79.0    37865.0  2020      6   10        2
163 2020-06-11      202.0        71.0    32991.0  2020      6   11        3
164 2020-06-12      379.0        53.0    37651.0  2020      6   12        4
165 2020-06-13      163.0        56.0    32880.0  2020      6   13        5
166 2020-06-14      346.0        78.0    29545.0  2020      6   14        6
167 2020-06-15      338.0        44.0    17463.0  2020      6   15        0
168 2020-06-16      301.0        26.0    27762.0  2020      6   16        1
169 2020-06-17      210.0        34.0    33957.0  2020      6   17        2
170 2020-06-18      328.0        43.0    32921.0  2020      6   18        3
171 2020-06-19      331.0        66.0    28570.0  2020      6   19        4
172 2020-06-20      297.5        47.0    29875.0  2020      6   20        5
173 2020-06-21      264.0        49.0    24581.0  2020      6   21        6
174 2020-06-22      224.0        24.0    16152.0  2020      6   22        0
175 2020-06-23      221.0        23.0    23225.0  2020      6   23        1
176 2020-06-24      113.0        18.0    30237.0  2020      6   24        2
177 2020-06-25      577.0       -31.0    29421.0  2020      6   25        3
178 2020-06-26      296.0        34.0    28331.0  2020      6   26        4
179 2020-06-27      255.0        30.0    29721.0  2020      6   27        5
180 2020-06-28      175.0         8.0    21183.0  2020      6   28        6
181 2020-06-29      174.0        22.0    15484.0  2020      6   29        0
182 2020-06-30      126.0         6.0    28471.0  2020      6   30        1

In [50]:
covid_june_totals

new_cases       8217.5
new_deaths      1404.0
new_tests     830354.0
dtype: float64

In [54]:
covid_df[covid_df.month == 7][['new_cases', 'new_deaths', 'new_tests']].sum()

new_cases       6722.0
new_deaths       388.0
new_tests     797692.0
dtype: float64

 As another example, let's check if the number of cases reported on Sundays is higher than the average number of cases reported every day. This time, we might want to aggregate columns using the `.mean` method.

In [55]:
covid_df.new_cases.mean()

np.float64(1096.6149193548388)

In [ ]:
covid_df[covid_df.weekday == 6].new_